*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# ----------
# My Ignores
# ----------

# Ignore .DS_Store files
.DS_Store

# Ignore ruby configuration files
/.ruby-version
/.ruby-gemset
